body {
    font-size: 100%;
  }

/*.startButton {
    margin:auto;
} */

.startBox { /* red box holds click for clue text */
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 5px;
    width: 250px;
    height: 50px;
    background-color: crimson;
    border-radius: 5px;
    /*float: left;
    Position: relative;*/
}

.letterChoices { /* div holds red boxes and letter choices */
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.answerChoices { /* div holds answer boxes and letter choices */
    align-content: center;
    margin-left: auto;
    margin-right: auto;    
    width: 100%;
}

.letterBox { /* div is red boxes which hold letter choices */
    margin: 10px;
    width: 10%;
    height: 50px;
    background-color: crimson;
    border-radius: 5px;
    float: left;
    Position: relative;
}

.answerBox { /* div is white boxes which hold answer choices */
    margin: 10px;
    width: 8%;
    height: 50px;
    background-color: white;
    border-bottom: 1px solid black;
    float: left;
    Position: relative;
} 

.letterBlank { /* div is a spacer between answer words */
    margin: 10px;
    width: 8%;
    height: 50px;
    background-color: white;
    float: left;
}

h1 { /* Guessing Game title text */
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 4.5em;
    color: crimson;
    text-align: center;
}

.paragraph { /* smallest text */
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 1.25em;
    color: black;
    text-align: center;
}

.clueParagraph { /* clue */
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 1.25em;
    color: white;
    text-align: center;
}

/*.clue {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 2em;
    color: crimson;
    text-align: center;
    /*clear: both;
}*/

.clickClue { /* text click for clue to start game */
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 1.5em;
    color: white;
    text-align: center;
    padding: 6px;
}

.acknowledgment { /* Yep or Nope when right or wrong letter is chosen */
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 2em;
    color: crimson;
    text-align: center;
    /*clear: both;*/
}
.acknowledgmentParagraph { /* tells player to choose again */
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 1.25em;
    color: black;
    text-align: center;
}

.yourChoice { /* text above grid to alert player to his/her letter choices */
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 1em;
    color: black;
    text-align: center;
    clear: both;
}

.yourAnswer { /* div holds correct choices below grid */
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 1em;
    color: black;
    text-align: center;
    clear: both;
}

.youWon {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 1.5em;
    color: crimson;
    text-align: center;
}

.youWonParagraph {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 1.25em;
    color: black;
    text-align: center;
}

.A { /* letter choices */
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 36px;
    color: white;
    text-align: center;
    /*margin: 10px;
    width: 10%;
    height: 50px;
    background-color: crimson;
    border-radius: 5px;
    float: left;
    Position: relative;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;*/
}
.B {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 36px;
    color: white;
    text-align: center;
    /*margin: 10px;
    width: 10%;
    height: 50px;
    background-color: crimson;
    border-radius: 5px;
    float: left;
    Position: relative;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;*/
}
.C {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 36px;
    color: white;
    text-align: center;
    /*margin: 10px;
    width: 10%;
    height: 50px;
    background-color: crimson;
    border-radius: 5px;
    float: left;
    Position: relative;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;*/
}
.D {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 36px;
    color: white;
    text-align: center;
    /*margin: 10px;
    width: 10%;
    height: 50px;
    background-color: crimson;
    border-radius: 5px;
    float: left;
    Position: relative;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;*/
}
.E {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 36px;
    color: white;
    text-align: center;
    /*margin: 10px;
    width: 10%;
    height: 50px;
    background-color: crimson;
    border-radius: 5px;
    float: left;
    Position: relative;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;*/
}
.F {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 36px;
    color: white;
    text-align: center;
    /*margin: 10px;
    width: 10%;
    height: 50px;
    background-color: crimson;
    border-radius: 5px;
    float: left;
    Position: relative;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;*/
}
.G {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 36px;
    color: white;
    text-align: center;
    /*margin: 10px;
    width: 10%;
    height: 50px;
    background-color: crimson;
    border-radius: 5px;
    float: left;
    Position: relative;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;*/
}
.H {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 36px;
    color: white;
    text-align: center;
    /*margin: 10px;
    width: 10%;
    height: 50px;
    background-color: crimson;
    border-radius: 5px;
    float: left;
    Position: relative;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;*/
}
.I {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 36px;
    color: white;
    text-align: center;
    /*margin: 10px;
    width: 10%;
    height: 50px;
    background-color: crimson;
    border-radius: 5px;
    float: left;
    Position: relative;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;*/
}
.J {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 36px;
    color: white;
    text-align: center;
    /*margin: 10px;
    width: 10%;
    height: 50px;
    background-color: crimson;
    border-radius: 5px;
    float: left;
    Position: relative;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;*/
}
.K {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 36px;
    color: white;
    text-align: center;
    /*margin: 10px;
    width: 10%;
    height: 50px;
    background-color: crimson;
    border-radius: 5px;
    float: left;
    Position: relative;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;*/
}
.L {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 36px;
    color: white;
    text-align: center;
    /*margin: 10px;
    width: 10%;
    height: 50px;
    background-color: crimson;
    border-radius: 5px;
    float: left;
    Position: relative;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;*/
}
.M {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 36px;
    color: white;
    text-align: center;
    /*margin: 10px;
    width: 10%;
    height: 50px;
    background-color: crimson;
    border-radius: 5px;
    float: left;
    Position: relative;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;*/
}
.N {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 36px;
    color: white;
    text-align: center;
    /*margin: 10px;
    width: 10%;
    height: 50px;
    background-color: crimson;
    border-radius: 5px;
    float: left;
    Position: relative;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;*/
}
.O {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 36px;
    color: white;
    text-align: center;
    /*margin: 10px;
    width: 10%;
    height: 50px;
    background-color: crimson;
    border-radius: 5px;
    float: left;
    Position: relative;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;*/
}
.P {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 36px;
    color: white;
    text-align: center;
    /*margin: 10px;
    width: 10%;
    height: 50px;
    background-color: crimson;
    border-radius: 5px;
    float: left;
    Position: relative;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;*/
    bottom: auto;
}
.Q {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 36px;
    color: white;
    text-align: center;
    /*margin: 10px;
    width: 10%;
    height: 50px;
    background-color: crimson;
    border-radius: 5px;
    float: left;
    Position: relative;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;*/
}
.R {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 36px;
    color: white;
    text-align: center;
    /*margin: 10px;
    width: 10%;
    height: 50px;
    background-color: crimson;
    border-radius: 5px;
    float: left;
    Position: relative;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;*/
}
.S {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 36px;
    color: white;
    text-align: center;
    /*margin: 10px;
    width: 10%;
    height: 50px;
    background-color: crimson;
    border-radius: 5px;
    float: left;
    Position: relative;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;*/
}
.T {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 36px;
    color: white;
    text-align: center;
    /*margin: 10px;
    width: 10%;
    height: 50px;
    background-color: crimson;
    border-radius: 5px;
    float: left;
    Position: relative;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;*/
}
.U {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 36px;
    color: white;
    text-align: center;
    /*margin: 10px;
    width: 10%;
    height: 50px;
    background-color: crimson;
    border-radius: 5px;
    float: left;
    Position: relative;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;*/
}
.V {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 36px;
    color: white;
    text-align: center;
    /*margin: 10px;
    width: 10%;
    height: 50px;
    background-color: crimson;
    border-radius: 5px;
    float: left;
    Position: relative;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;*/
}
.W {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 36px;
    color: white;
    text-align: center;
    /*margin: 10px;
    width: 10%;
    height: 50px;
    background-color: crimson;
    border-radius: 5px;
    float: left;
    Position: relative;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;*/
}
.X {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 36px;
    color: white;
    text-align: center;
    /*margin: 10px;
    width: 10%;
    height: 50px;
    background-color: crimson;
    border-radius: 5px;
    float: left;
    Position: relative;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;*/
}
.Y {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 36px;
    color: white;
    text-align: center;
    /*margin: 10px;
    width: 10%;
    height: 50px;
    background-color: crimson;
    border-radius: 5px;
    float: left;
    Position: relative;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;*/
}
.Z {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 36px;
    color: white;
    text-align: center;
    /*margin: 10px;
    width: 10%;
    height: 50px;
    background-color: crimson;
    border-radius: 5px;
    float: left;
    Position: relative;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;*/
}
.n1 {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 36px;
    color: white;
    text-align: center;
    /*margin: 10px;
    width: 10%;
    height: 50px;
    background-color: crimson;
    border-radius: 5px;
    float: left;
    Position: relative;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;*/
}

.n2 {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 36px;
    color: white;
    text-align: center;
    /*margin: 10px;
    width: 10%;
    height: 50px;
    background-color: crimson;
    border-radius: 5px;
    float: left;
    Position: relative;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;*/
}
.n3 {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 36px;
    color: white;
    text-align: center;
    /*margin: 10px;
    width: 10%;
    height: 50px;
    background-color: crimson;
    border-radius: 5px;
    float: left;
    Position: relative;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;*/
}
.n4 {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 36px;
    color: white;
    text-align: center;
    /*margin: 10px;
    width: 10%;
    height: 50px;
    background-color: crimson;
    border-radius: 5px;
    float: left;
    Position: relative;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;*/
}
.n5 {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 36px;
    color: white;
    text-align: center;
    /*margin: 10px;
    width: 10%;
    height: 50px;
    background-color: crimson;
    border-radius: 5px;
    float: left;
    Position: relative;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;*/
}
.n6 {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 36px;
    color: white;
    text-align: center;
    /*margin: 10px;
    width: 10%;
    height: 50px;
    background-color: crimson;
    border-radius: 5px;
    float: left;
    Position: relative;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;*/
}
.n7 {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 36px;
    color: white;
    text-align: center;
    /*margin: 10px;
    width: 10%;
    height: 50px;
    background-color: crimson;
    border-radius: 5px;
    float: left;
    Position: relative;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;*/
}
.n8 {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 36px;
    color: white;
    text-align: center;
    /*margin: 10px;
    width: 10%;
    height: 50px;
    background-color: crimson;
    border-radius: 5px;
    float: left;
    Position: relative;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;*/
}
.n9 {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 36px;
    color: white;
    text-align: center;
    /*margin: 10px;
    width: 10%;
    height: 50px;
    background-color: crimson;
    border-radius: 5px;
    float: left;
    Position: relative;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;*/
}
.n0 {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 36px;
    color: white;
    text-align: center;
    /*margin: 10px;
    width: 10%;
    height: 50px;
    background-color: crimson;
    border-radius: 5px;
    float: left;
    Position: relative;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;*/
}